body {
  padding: 0;
  font-family: "Myriad Pro" !important;
  background: url(../img/background.jpg) !important;
  background-repeat: repeat;
}


#title {
  padding-bottom: 40px;
  text-align: center;
}

#title > img {
  height: 100px;
  display: inline;
  margin-top: -35px;
}

#settings-and-stats {
  text-align: center;
  width: 780px;
  min-width: 780px;
}

#settings {
  display: inline-block;
  text-align: left;
  padding: 10px;
  float: left;
  height: 215px;
}

#stats {
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 215px;
}

#stats .sharefb {
  display: none;
  margin-top: 15px;
}

#stats > p {
  margin: 0;
}

#bonus-list {
  color: #777;
  font-size: 14pt;
  text-align: right;
  width: 100%;
}

#bonus-list tr.large {
  font-size: 30pt;
}


#bonus-list tr.large td {
  padding-top: 50px;
}

#bonus-list .separator {
  height: 2px;
  background: #777;
}

#bonus-list .summary {
  font-weight: bold;
}

#num-correct-calculations { 
  
}

#start-quiz {
  display: none;
  margin-top: 100px;
}

.white-box {
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
}

.jumbotron {
  margin-bottom: 0;
  padding-top: 20px;
  background: none !important;
}

.jumbotron > .container > div {
  /*text-align: center;*/
}

.jumbotron h1 {
  text-align: center;
  display: inline-block;
  font-family: "Myriad Pro";
  margin-left: 20px;
  margin-right: 40px;
}

#questionbox {
  padding-top: 0;
  text-align: center;
}

#questionbox .jumbotron {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;

}

#time-left {
  font-size: 80pt;
  margin-top: 5px;
  display: inline-block;
}

#time-left-text {
  display: block;
  margin-top: -40px;
  color: #777;
}

#question {
  font-size: 60px;
  font-weight: 600;
}

#answerbox {
  width: 100%;
}

#answerbox > .input-group {
  width: 200px;
  display: inline-table;
}

#math-range-slider {
  margin-left: 60px;
  width: 300px;
  margin-right: 40px;
}

#math-range-slider .noUi-handle {
  box-shadow: none;
}


.nobullets {
  list-style-type: none;
}

footer {
  margin: 0 150px;
  text-align: right;

  position: absolute;
  right: 200px;
  bottom: 10px;
}


.noUi-connect {
  background: #627583 !important;
  box-shadow: none !important;
}

#text-operations {
  margin-bottom: 5px;
  padding-top: 10px;
}

#div-operations {
  text-align: left;
  display: inline-block;
}

#div-operations > ul {
  float: left;
  margin-bottom: 0;
}

#viewport {
  position: absolute;
  top: 300px;
}

#social-container {
  width: 100%;
}

#social-buttons {
    height: 300px;
    transition:             opacity 1000ms ease;
        -moz-transition:    opacity 1000ms ease;
        -ms-transition:     opacity 1000ms ease;
        -o-transition:      opacity 1000ms ease;
        -webkit-transition: opacity 1000ms ease;
    width: 90px;
}

.fb-like, .g-plusone-frame {
    margin: 10px 0 10px 3px;   
}

.g-plusone-frame {
    display: inline-block;
}

.twitter-share-button {
    margin: 10px 0;
}

.fade {
    opacity: 0 !important;
}


/* slider ends (where the numbers are) are named such by the library */
.tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  font: 400 12px/12px Arial;
  border-radius: 3px;
  background: #fff;
  top: -3px;
  padding: 5px;
  padding-top: 9px;
  left: -9px;
  text-align: center;
  width: 50px;
  height: 30px;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
}
